/Oracle.py
/Project-Ray copy.py
/Project-Ray playing around copy.py
/Project-Ray playing around.py
/Project-Ray-2 copy.py
/Project-Ray.py
/RealOracle.m
/__pycache__
/examples.py
/tempCodeRunnerFile.py