/Oracle.py
/Project-Ray copy.py
/Project-Ray playing around copy.py
/Project-Ray playing around.py
/Project-Ray-2 copy.py
/Project-Ray.py
/RealOracle.m
/__pycache__
/examples.py
/tempCodeRunnerFile.py
/trial and error
/psy-taliro-main
/nonlinear.jpeg
/psy-taliro-main.zip
/psy-taliro-main.zip:Zone.Identifier